<p>NOICE</p>

<div class="contacts">
  <form (submit)="addContact()">
    <input
      type="text"
      name="inputContact"
      placeholder="New Contact"
      class="contact-input"
      [(ngModel)]="inputContact"
    />
    <input type="submit" value="Add Contact" class="contact-submit" />
  </form>
  <div
    *ngFor="let contact of contacts; let i = index"
    class="contact {{ contact.favorite ? 'favorite' : '' }}"
  >
    <div class="id">{{ i }}</div>
    <div class="content" (click)="toggleFavorite(i)">{{ contact.content }}</div>
    <button class="delete" (click)="deleteContact(i)">Remove</button>
  </div>
</div>
